<div>
  <span>Region:</span>
  <div class="chip">{{ filterForm.controls.region.value }}</div>

  <span
    >Date Range:
    <div class="chip">
      {{ filterForm.controls.dateFrom.value | date: 'shortDate' }}
    </div>
    <div class="chip">
      {{ filterForm.controls.dateTo.value | date: 'shortDate' }}
    </div>
  </span>

  <span>
    Age Groups:
    <span *ngIf="filterForm.controls.minor.value" class="chip">
      Minors
    </span>
    <span *ngIf="filterForm.controls.adults.value" class="chip">
      Adults
    </span>
    <span *ngIf="filterForm.controls.middleAged.value" class="chip">
      Middle Aged
    </span>
    <span *ngIf="filterForm.controls.retired.value" class="chip">
      Retired
    </span>
  </span>
</div>
