// Give the major components basic card styling, without requiring
// an <article> element in each component.

vst-video-container,
vst-top-list,
vst-views-breakdown,
vst-views-filter {
  padding: 1rem;
  border: 1px solid var(--card-border-color);
  background-color: var(--card-background-color);
  box-shadow: var(--card-box-shadow);

  h2 {
    margin-bottom: 1rem;
  }
}

.chip {
  display: inline-block;
  color: var(--secondary-inverse);
  background-color: var(--secondary);
  font-size: 0.8rem;
  border-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;
  margin-right: 0.5em;
  white-space: nowrap;
}
